@model Entity.Base.User
@{
    ViewBag.Title = "推广员管理";
}

<div style="background: #cccccc">
    @if (Model != null)
    {
        <img src="@Model.Wx_HeaderUrl" width="100" height="100" style="border-radius: 50px" />
        <br />
        @Model.Id
        <br />
        @Model.GameId
        <br />
        @Model.GameName
        <br />
        @Model.UserId
        <br />
        @Model.NickName
        <br />
        @Model.MyAgentLevel
        <br />
        @Model.UserType
    }
    else
    {
        <span>用户不存在!</span>
    }
</div>
