@model Entity.Dto.DtoRebateStatistics
@{
    ViewBag.Title = "我的信息";
}
@if (!(Model != null && Model.user != null && Model.agent != null))
{
    return;
}
<div class="mui-content">

    <div class="mui-row ra ra1">
        <div class="mui-row rz rz1 mui-text-center"><div><img src="@(!string.IsNullOrEmpty(Model.user.HeaderUrl) ? Model.user.HeaderUrl : "/public/images/jbzon.png")" /></div></div>
        <div class="mui-row rz rz2 mui-text-center">@Model.agent.RealName</div>
        <div class="mui-row rz rz3 mui-text-center">
            <div class="mui-row box">
                <div class="mui-pull-left cz cz1"><img src="/public/images/huanguan.png" /></div>
                <div class="mui-pull-left cz cz2">@Model.agent.MyAgentLevel 级代理商</div>
                @*<div class="mui-pull-left cz cz2">@Model.agent.AgentLevelName </div>*@
            </div>
        </div>
    </div>
    <div class="mui-row ra ra2 boxradiusV2">
        <div class="mui-row rz rz1">
            <div class="mui-pull-left cz cz1">我的邀请码</div>
            <div class="mui-pull-left cz cz2">@Model.agent.AgentCode</div>
        </div>
        <div class="mui-row rz rz2">
            <div class="mui-pull-left cz cz1">我的游戏ID</div>
            <div class="mui-pull-left cz cz2">@Model.user.UserId</div>
        </div>
        <div class="mui-row rz rz3">
            <div class="mui-pull-left cz cz1">注册手机号</div>
            <div class="mui-pull-left cz cz2 ">@Model.user.PhoneNo</div>
        </div>
        <div class="mui-row rz rz4">
            <div class="mui-pull-left cz cz1">剩余钻石数</div>
            <div class="mui-pull-left cz cz2">@(Model.user.Diamond ?? 0) 钻</div>
        </div>
        <div class="mui-row rz rz5">
            <div class="mui-pull-left cz cz1">所属推荐人</div>
            <div class="mui-pull-left cz cz2 mui-ellipsis">
                @(Model.user.ParentUserId == 0 || Model.user.ParentUserId == null
                        ? "暂无推荐人" : Model.user.AgentRealName +"（"+ Model.user.ParentUserId.ToString() +"）")
            </div>
        </div>
        @*<div class="mui-row rz rz6">
                <div class="mui-pull-left cz cz1">上级代理商</div>
                <div class="mui-pull-left cz cz2 mui-ellipsis">暂无上级代理商</div>
            </div>*@
        <div class="mui-row rz rz6">
            <div class="mui-pull-left cz cz1">可申请提现</div>
            <div class="mui-pull-left cz cz2 mui-ellipsis"> @(Model.CanRebateAmount ?? 0) </div>
            <div class="mui-pull-left cz cz3"> 申请提现 </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#managerbar .rz").removeClass("active");
            $("#managerbar .cz4 .rz").addClass("active");
            var w = $(".ra1 rz1 img").width();
            $(".ra1 rz1 img").css("height", w);
            $(".ra1 rz1 img").css("width", w);
        });
    </script>
}
@section styles {
    <link href="/public/css/common.css" rel="stylesheet" />
    <link href="/public/css/MyCenter.css" rel="stylesheet" />
}

@Html.Partial("~/Views/Shared/_PartialMenu.cshtml")